{% extends 'layout.html' %}

{% block content %}

<section class="hero">
    <div class="hero-text">
        <span class="badge">Picērija</span>
        <h1>Pizza Revolution</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sodales senectus dictum arcu sit tristique.</p>
        <div class="buttons">
            <a href="/menu" class="btn-orange">Pasūtīt</a>
            <a href="/contact" class="btn-green">Sazināties</a>
        </div>
    </div>

</section>

{% endblock %}
