{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" href="static/menu.css">
<section class="menu">
    <h1>Our Menu</h1>
    <div class="menu-grid">
        <div class="menu-item">
            <img src="/static/images/marg-pizza.jpg" alt="Margherita">
            <h3>Margherita</h3>
            <p>$10.99</p>
        </div>
        <div class="menu-item">
            <img src="/static/images/pepperoni.jpg" alt="Pepperoni">
            <h3>Pepperoni</h3>
            <p>$12.99</p>
        </div>
        <div class="menu-item">
            <img src="/static/images/vegetarianPizza.jpg" alt="Veggie">
            <h3>Veggie Supreme</h3>
            <p>$11.99</p>
        </div>
        <div class="menu-item">
            <img src="/static/images/hawaiiPizza.jpg" alt="Hawaiian">
            <h3>Hawaiian Pizza</h3>
            <p>$13.99</p>
        </div>
        <div class="menu-item">
            <img src="/static/images/bbqchickenpizza.jpg" alt="BBQ Chicken">
            <h3>BBQ Chicken</h3>
            <p>$14.99</p>
        </div>
        <div class="menu-item">
            <img src="/static/images/meatloverpizza.jpg" alt="Meat Lovers">
            <h3>Meat Lovers</h3>
            <p>$15.99</p>
        </div>
    </div>
</section>
{% endblock %}
